body{
    background-color: whitesmoke;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: rgb(178, 255, 229);
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
input[type="number"],
textarea,

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
} 
input[type="submit"]:hover {
    background-color: #3e8e41;
}
  